<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<form [formGroup]="dataFormCreate" (ngSubmit)="saveDataForm()">
  <div style="text-align: center;">
    <div class="row m-0">
      <div class=" d-flex justify-content-center align-items-center mt-2 mb-2 " >
        <div class="boxed shadow h-100" style="align-content: center" >
          <div class="mb-2 row">
            <div class="mb-2 row">
              <fieldset>
                <legend>
                  <div class="row" style="margin-top: 30px">
                    <div class="d-flex align-items-center mb-2 col-2" style="margin-top: 20px">
                      <a class="btn-center-primary" routerLink="/form"><i class="fa-solid fa-arrow-left"></i></a>
                    </div>
                    <div class="mt-0 text-center fw-bold col-10">
                      <h1>THÊM BIỂU MẪU</h1>
                    </div>
                  </div>
                  <br>
                </legend>
              </fieldset>
            </div>
          </div>
          <div class="mb-2 row">
            <div class="d-flex align-items-center mb-2">
              <div class="col-4">
                <label  class="form-label ms-2" style="margin-bottom: 90px">Nội Dung<span style="color: red;margin-bottom: 100px">(*)</span>:</label>
              </div>
              <div class="col-8">
                <label>
                  <textarea  formControlName = "contentDataForm"style="border: solid 1px cornflowerblue"  class="form-control" rows="4" cols="50" ></textarea>
                </label>
                <div class="text-danger" *ngFor="let validation of validationMessages.contentDataForm">
                  <div class="error-message"
                       *ngIf="dataFormCreate.get('contentDataForm')?.hasError(validation.type) && (dataFormCreate.get('contentDataForm')?.dirty || dataFormCreate.get('contentDataForm')?.touched)else elseBlock" >
                    {{validation.message}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-2 row">
            <div class="d-flex align-items-center mb-2 row" >
              <div class="col-4">
                <label  class="form-label ms-2">Tập tin văn bản<span style="color: red">(*)</span>:</label>
              </div>
              <div class="col-8" style="text-align: left">
                <input type="file" class="form-control-file" (change)="showPreview($event)" accept=".doc,.docx,.xml,.pdf" formControlName="fileForm" >
              </div>
              <div class="text-danger" *ngFor="let validation of validationMessages.fileForm">
                <div class="error-message"
                     *ngIf="dataFormCreate.get('fileForm')?.hasError(validation.type) && ( dataFormCreate.get('fileForm')?.pristine) else elseBlock">
                  {{validation.message}}</div>
              </div>
              <div class="text-danger" *ngIf="isOverSizeFile">File không được quá kích thước 5MB.</div>
              <ng-template #elseBlock><br></ng-template>
            </div>
          </div>
          <div class="mb-2">
            <span style="font-size: 15px" class="fst-italic">
              Trường có dấu <span style="color: red"> (*)</span> là bắt
              buộc,không được bỏ trống.
            </span>
          </div>
          <div class="d-flex justify-content-center" style="margin-bottom: 15px ; margin-top: 30px">
            <button *ngIf="!isSubMit" type="submit" [disabled]="dataFormCreate.invalid" class="btn btn-primary">Lưu thông tin</button>
            <input *ngIf="!isSubMit" style="margin-left: 15px" type="reset" (click)= "resetFileValidate()" class="btn btn-light" value="Nhập lại">
            <button *ngIf="isSubMit" class="btn btn-primary" type="button" disabled>
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              Vui lòng chờ...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
