<form *ngIf="updateForm" [formGroup]="updateForm" (ngSubmit)="changePassword()" novalidate>
  <div class="d-flex justify-content-center align-items-center m-0 mb-2">
    <div class="boxed shadow h-200 mt-5 ">
      <fieldset>
        <legend>
          <div>
            <div style="margin-left: 15px; margin-top: 15px">
              <a href="#" type="button"><i class="fa-solid fa-arrow-left"></i></a>
              <h1 class="text-center">THAY ĐỔI MẬT KHẨU</h1>
            </div>
          </div>
        </legend>
      </fieldset>
      <div class="mt-5">
        <div class="mb-2 row">
          <div class="d-flex align-items-center mb-2">
            <div class="col-2">
              <input id="idAccount" value="{{accountDto?.idAccount}}" hidden type="password" class="form-control"
                     required/>
            </div>
            <div class="col-4">
              <label for="encryptPassword" class="form-label ms-2">Mật khẩu cũ:<span
                style="color: red">(*)</span></label>
            </div>
            <div class="col-4">
              <input id="encryptPassword" type="password" class="form-control" formControlName="encryptPassword"
                     required/>
              <div class="text-danger"
                   *ngIf="updateForm.controls.encryptPassword.invalid else elseBlock">
                      <span
                        *ngIf="updateForm.controls.encryptPassword.hasError('required') && updateForm.controls.encryptPassword.touched">Vui lòng nhập mật khẩu cũ.</span>
                <span
                  *ngIf="updateForm.controls.encryptPassword.hasError('minlength')">Mật khẩu cũ chưa ít nhất 6 kí tự.</span>
              </div>
              <ng-template #elseBlock><br></ng-template>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
        <div class="mb-2 row">
          <div class="d-flex align-items-center mb-2">
            <div class="col-2"></div>
            <div class="col-4">
              <label for="new" class="form-label ms-2">Mật khẩu mới: <span style="color: red">(*)</span></label>
            </div>
            <div class="col-4">
              <input id="new" type="password" class="form-control" formControlName="newPassword" required/>
              <div class="text-danger"
                   *ngIf="updateForm.controls.newPassword.invalid else elseBlock">
                      <span
                        *ngIf="updateForm.controls.newPassword.hasError('required') && updateForm.controls.newPassword.touched">Vui lòng nhập mật khẩu mới.
                      </span>
                <span
                  *ngIf="updateForm.controls.newPassword.hasError('minlength')">Mật khẩu mới chưa đảm bảo, cần chứa tối thiểu 6 kí tự.</span>
              </div>
              <ng-template #elseBlock><br></ng-template>
            </div>
          </div>
        </div>
        <div class="mb-2 row">
          <div class="d-flex align-items-center mb-2">
            <div class="col-2"></div>
            <div class="col-4">
              <label for="confirm" class="form-label ms-2">Nhập lại mật khẩu mới: <span
                style="color: #ff0000">(*)</span></label>
            </div>
            <div class="col-4">
              <input id="confirm" type="password" class="form-control" formControlName="confirmPassword" required/>
              <div class="text-danger"
                   *ngIf="updateForm.controls.confirmPassword.invalid else elseBlock">
                      <span
                        *ngIf="updateForm.controls.confirmPassword.hasError('required') && updateForm.controls.confirmPassword.touched">Vui lòng điền mật khẩu vào ô nhập lại mật khẩu.
                      </span>
                <span
                  *ngIf="updateForm.hasError('passwordMatchingValidator')">Mật khẩu mới không khớp.</span>
              </div>
              <ng-template #elseBlock><br></ng-template>
            </div>
            <div class="col-2"></div>

          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center" style="margin-bottom: 15px">
        <input style="margin-left: 15px" type="reset" class="btn btn-secondary" value="Nhập lại">
        <button type="submit" style="margin-left: 15px" class="btn btn-primary" >Xác nhận
        </button>
      </div>
    </div>
  </div>
</form>
