<div class="p-3 px-5">
  <div style="margin-left: 15px; margin-top: 15px" class="d-flex justify-content-center">
    <div><h2>DANH SÁCH THÔNG BÁO</h2></div>
  </div>
  <a routerLink="/notification/create">
    <button class="btn btn-primary btn-outline-secondary mx-1 mb-3">
      <span class="text-light"> Thêm mới thông báo </span>
    </button>
  </a>
  <div class="row">
    <form class="pb-3" *ngIf="rfSearch" [formGroup]="rfSearch" (ngSubmit)="searchNotification(0,true)">
      <fieldset style="all: revert;">
        <div class="row mt-3">
          <div class="col-1"></div>
          <div class="col-4">
            <strong>Tiêu đề thông báo:</strong>
            <input formControlName="title" type="text" class="form-control rounded-0 mt-2" id="title"
                   placeholder="Nhập tiêu đề cần tìm...">
            <p class="mb-2" *ngIf="!rfSearch.controls['title'].hasError('maxlength')">&nbsp;</p>
            <p class="mb-2" *ngIf="rfSearch.controls['title'].hasError('maxlength')" style="color: red">
              <i class="fa-solid fa-triangle-exclamation"></i>
              Nhập tiêu đề tối đa 45 ký tự.
            </p>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-6">
                <strong>Chọn ngày cụ thể: </strong>
                <input formControlName="startDate" type="date" class="form-control rounded-0 mt-2"
                       id="startDate1" placeholder="dd-mm-yyyy"
                       onfocus="document.getElementById('startDate2').value = ''">
              </div>
              <div class="col-6">
                <strong>Hoặc khoảng thời gian: </strong>
                <div class="input-group">
                  <select
                    onchange="document.getElementById('startDate1').value = ''"
                    formControlName="startDate"
                    class="form-control rounded-0 mt-2"
                    id="startDate2">
                    <option value="">Chọn khoảng thời gian</option>
                    <option value="{{getSearchDate('withinWeek')}}">
                      Trong vòng 1 tuần
                    </option>
                    <option value="{{getSearchDate('withinMonth')}}">
                      Trong vòng 1 tháng
                    </option>
                    <option value="{{getSearchDate('withinThreeMonth')}}">
                      Trong vòng 3 tháng
                    </option>
                    <option value="{{getSearchDate('withinYear')}}">
                      Trong vòng 1 năm
                    </option>
                  </select>
                </div>
              </div>
              <p class="mb-0" *ngIf="!rfSearch.controls['startDate'].hasError('invalidSearchDate')">&nbsp;</p>
              <p class="mb-0" *ngIf="rfSearch.controls['startDate'].hasError('invalidSearchDate')"
                 id="invalidSearchDate"
                 style="color: red">
                <i class="fa-solid fa-triangle-exclamation"></i>
                Nhập thời gian từ ngày hôm nay trở về trước.
              </p>
            </div>
          </div>
          <div class="col-2">
            <br>
            <div class="row">
              <div class="col-12">
                <div class="input-group">
                  <button class="btn btn-outline-danger w-100 mt-2" [disabled]="rfSearch.invalid"
                          (click)="setflagNotToastResetFalse()">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Tìm kiếm
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-8">
            <strong>Nội dung thông báo:</strong>
            <input formControlName="content" type="text" class="form-control rounded-0 mt-2"
                   id="content" placeholder="Nhập nội dung cần tìm...">
            <p class="mb-0" *ngIf="!rfSearch.controls['content'].hasError('maxlength')">&nbsp;</p>
            <p class="mb-0" *ngIf="rfSearch.controls['content'].hasError('maxlength')"
               style="color: red">
              <i class="fa-solid fa-triangle-exclamation"></i>
              Nhập nội dung tối đa 100 ký tự.
            </p>
          </div>
          <div class="col-2">
            <br>
            <div class="row">
              <div class="col-12">
                <div class="input-group">
                  <button class="btn btn-outline-secondary w-100 mt-2" (click)="resetFormAndData()"
                          onclick="document.getElementById('startDate').type='text'">
                    <i class="fa-solid fa-arrows-rotate"></i>
                    Làm mới
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <table class="table table-light table-striped table-bordered table-hover" >
    <thead>
    <tr class="table-dark text-light">
      <th class="text-center align-middle">STT</th>
      <th class="text-center align-middle">Ngày tạo</th>
      <th class="text-center align-middle" style="width: 378px">Tiêu đề thông báo</th>
      <th class="text-center align-middle" style="width: 712px">Nội dung thông báo</th>
      <th class="text-center align-middle">Sửa</th>
      <th class="text-center align-middle" style="width: 20px;">
        <button class="btn text-light" (click)="addAllToDelete()">
          <i class="fa-regular fa-trash-can delete-group-icon"></i>
        </button>
      </th>
    </tr>
    </thead>
    <tbody *ngIf="pageNotifications != null">
    <tr style="height: 47px" *ngFor="let item of pageNotifications?.content;index as i">
      <td class="text-center align-top pt-2">{{i + 1 + pageNotifications?.number * pageNotifications?.size}}</td>
      <td class="text-center align-top pt-2">{{item.postingDate | date: 'dd/MM/yyyy' }}</td>
      <td class="align-top pt-2" style="width: 378px">{{item.title}}</td>
      <td class="align-top pt-2" style="width: 712px">
        <div id="collapsedContent{{item.idNotification}}" style="display: inline-block">
          {{item.content | NotificationPipe}}
          <a style="color:blue;" role="button" id="expandButton{{item.idNotification}}"
             *ngIf="item.content.length > 70"
             (click)="expandOrCollapse(item.idNotification, 'expand')">
            xem thêm
          </a>
        </div>
        <div id="expandedContent{{item.idNotification}}" style="display: none">
          {{item.content}}<br>
          <a style=" color: blue" role="button" id="collapseButton{{item.idNotification}}"
             (click)="expandOrCollapse(item.idNotification, 'collapse')">
            thu gọn
          </a>
        </div>
      </td>
      <td class="text-center align-top pt-2">
        <a routerLink="/notification/edit/{{item.idNotification}}">
          <button>
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </a>
      </td>
      <!-- Checkbox xóa ở tbody -->
      <td class="text-center align-top pt-2">
        <input type="checkbox" [checked]="deleteIds.includes(item.idNotification)"
               (click)="addToDelete(item.idNotification)"/>
      </td>
      <!-- Hết Checkbox xóa ở tbody -->
    </tr>
    <!--suppress TypeScriptUnresolvedFunction -->
    <tr style="height: 47px"
        *ngFor="let a of [].constructor(pageNotifications.size - pageNotifications.numberOfElements)">
      <!--suppress TypeScriptUnresolvedFunction -->
      <td *ngFor="let b of [].constructor(6)"></td>
    </tr>
    </tbody>
  </table>
  <h3 *ngIf="pageNotifications == null" class="text-center">Không tìm thấy kết quả phù hợp!</h3>

  <!--  Phân trang + Nút xóa-->
  <div *ngIf="pageNotifications" class="d-flex justify-content-between" id="last-row">
    <div class="pt-2">
      <div style="display: inline-block">Tùy chọn số lượng thông báo/trang: &nbsp;</div>
      <select class="pagination " [(ngModel)]="recordPerPage" style="display: inline-block">
        <option [ngValue]="5">5 thông báo/trang</option>
        <option [ngValue]="7">7 thông báo/trang</option>
        <option [ngValue]="10">10 thông báo/trang</option>
      </select>&nbsp; &nbsp;
      <a role="button" class="link-primary" (click)="resetFormAndData()"> Xác nhận</a>
      <p><small class="w-100">Mặc định: 5 thông báo/trang</small></p>
    </div>
    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [ngClass]="pageNotifications.first ? 'disabled': ''">
            <a role="button" class="page-link" (click)="gotoPage(0)">Trang đầu</a>
          </li>
          <li class="page-item" [ngClass]="pageNotifications.first ? 'disabled': ''">
            <a role="button" class="page-link" (click)="gotoPage(pageNotifications.number - 1)"><</a>
          </li>
          <li class="page-item" *ngIf="pageNotifications.number - 3 > 0">
            <a role="button" class="page-link"
               (click)="gotoPage(pageNotifications.number - 4)">{{pageNotifications.number - 3}}</a>
          </li>
          <li class="page-item" *ngIf="pageNotifications.number - 2 > 0">
            <a role="button" class="page-link"
               (click)="gotoPage(pageNotifications.number - 3)">{{pageNotifications.number - 2}}</a>
          </li>
          <li class="page-item" *ngIf="pageNotifications.number - 1 > 0">
            <a role="button" class="page-link"
               (click)="gotoPage(pageNotifications.number - 2)">{{pageNotifications.number - 1}}</a>
          </li>
          <li class="page-item" *ngIf="pageNotifications.number > 0">
            <a role="button" class="page-link"
               (click)="gotoPage(pageNotifications.number - 1)">{{pageNotifications.number}}</a>
          </li>

          <li class="page-item active"><a class="page-link">{{pageNotifications.number + 1}}</a></li>

          <li class="page-item" *ngIf="pageNotifications.number + 2 <= pageNotifications.totalPages">
            <a role="button" class="page-link"
               (click)="gotoPage(pageNotifications.number + 1)">{{pageNotifications.number + 2}}</a>
          </li>
          <li class="page-item" *ngIf="pageNotifications.number + 3 <= pageNotifications.totalPages">
            <a role="button" class="page-link"
               (click)="gotoPage(pageNotifications.number + 2)">{{pageNotifications.number + 3}}</a>
          </li>
          <li class="page-item" *ngIf="pageNotifications.number + 4 <= pageNotifications.totalPages">
            <a role="button" class="page-link"
               (click)="gotoPage(pageNotifications.number + 3)">{{pageNotifications.number + 4}}</a>
          </li>
          <li class="page-item" *ngIf="pageNotifications.number + 5 <= pageNotifications.totalPages">
            <a role="button" class="page-link"
               (click)="gotoPage(pageNotifications.number + 4)">{{pageNotifications.number + 5}}</a>
          </li>
          <li class="page-item" [ngClass]="pageNotifications.last ? 'disabled': ''">
            <a role="button" class="page-link" (click)="gotoPage(pageNotifications.number + 1)">></a>
          </li>
          <li class="page-item" [ngClass]="pageNotifications.last ? 'disabled': ''">
            <a role="button" class="page-link" (click)="gotoPage(pageNotifications.totalPages - 1)">Trang cuối</a>
          </li>
        </ul>
      </nav>
    </div>
    <div>
      <button class="btn btn-danger" data-bs-toggle="modal"
              (click)="sendToDeleteGroupModal()" data-bs-target="#deleteGroupModal"
              [disabled]="deleteIds.length == 0">
        <i class="fa-regular fa-trash-can delete-icon"></i> Xoá
      </button>
    </div>
  </div>
</div>

<!-- Modal Xóa -->
<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="deleteNotifications.length == 0">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel0">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <strong style="color: red">Đã xảy ra lỗi. Vui lòng thử lại. <br><br></strong>
        <div class="modal-footer">
          <button id="deleteAccept0" class="btn btn-secondary" data-bs-dismiss="modal">
            Huỷ bỏ
          </button>
        </div>
      </div>
    </div>
    <div class="modal-content" *ngIf="deleteNotifications.length !== 0">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="deleteNotifications.length > 1">Xoá các thông báo với các tiêu đề được liệt kê bên dưới ?</div>
        <div *ngIf="deleteNotifications.length == 1">Xoá thông báo với tiêu đề bên dưới ?</div>
        <div *ngFor="let item of deleteNotifications">
          <strong style="color: red">{{item.title}} &nbsp;</strong>
        </div>
        <div class="modal-footer">
          <button id="deleteCancel" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
          <button id="deleteAccept" class="btn btn-warning" data-bs-dismiss="modal"
                  (click)="delete()">Xác nhận
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

