<!--Modal Xóa-->
<div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa khách hàng</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Bạn có chắc là muốn xóa khách hàng: </span>
        <span class="text-danger">{{customerApproval.name_customer}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
        <button type="button"(click)="deleteCustomer()" class="btn btn-warning" data-bs-dismiss="modal">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
