<ng-template #noData ><h1 class="text-center fw-bold  mt-3">Không có dữ liệu này!</h1></ng-template>
<form [formGroup]="formDataFormUpdate" (ngSubmit)="updateDataForm()" *ngIf="checkError else noData">


  <div class="row m-0">
    <div class=" d-flex justify-content-center align-items-center mt-2 mb-2 " >
      <div class="boxed shadow h-100" style="align-content: center" >
        <div class="mb-2 row">
          <div class="d-flex align-items-center mb-2">
            <a class="btn text-center text-primary" routerLink="/form"><i class="fa-solid fa-arrow-left"></i></a>
          </div>
          <div class="mb-2 row">
            <fieldset>
              <legend>
                <div class="mt-0 text-center fw-bold">
                  <h1 >CHỈNH SỬA BIỂU MẪU</h1>
                </div>
                <br>
              </legend>
            </fieldset>
          </div>
        </div>
        <input hidden readonly type="number" formControlName="idDataForm">

        <div class="mb-2 row">
          <div class="d-flex align-items-center mb-2">
            <div class="col-4">
              <label  class="form-label ms-2" style="margin-bottom: 40px">Nội Dung<span style="color: red">(*)</span>:</label>
            </div>
            <div class="col-8">
              <label>
                <textarea formControlName = "contentDataForm"  style="border: solid 1px cornflowerblue" class="form-control" rows="4" cols="50" ></textarea>
              </label>
              <div class="text-danger" *ngFor="let validation of validationMessages.contentDataForm">
                <div class="error-message"
                     *ngIf="formDataFormUpdate.get('contentDataForm')?.hasError(validation.type) && (formDataFormUpdate.get('contentDataForm')?.dirty || formDataFormUpdate.get('contentDataForm')?.touched)else elseBlock" >
                  {{validation.message}}</div>
              </div>

            </div>
          </div>
        </div>
        <div class="mb-2 row">
          <div class="d-flex align-items-center mb-2">
            <div class="col-4">
              <label  class="form-label ms-2" style="margin-bottom: 40px">Tập tin văn bản:</label>
            </div>
            <div class="col-8">
              <label>
                <input type="file" class="form-control-file" (change)="showPreview($event)" accept=".doc,.docx,.xml">
              </label>
              <div class="d-flex align-items-center mb-2 text-decoration-none">
                <a href="{{url}}">Xem biểu mẫu</a>
              </div>

            </div>
            <ng-template #elseBlock><br></ng-template>
          </div>
        </div>

        <div class="mb-2">
          <span style="font-size: 15px" class="fst-italic">
            Trường có dấu <span style="color: red"> (*)</span> là bắt
            buộc,không được bỏ trống
          </span>
        </div>

        <div class="d-flex justify-content-center" style="margin-bottom: 15px ; margin-top: 30px">
          <button type="submit"  [disabled]="formDataFormUpdate.invalid" class="btn btn-primary">Lưu thông tin</button>
          <button type="button" style="margin-left: 15px"
                  class="btn btn-light" (click)="return()">
            <p>Nhập lại</p>
          </button>
        </div>

      </div>
    </div>
  </div>

</form>
