<div class="container pt-2 mb-5" style="background-color:#FFFFFF;">
  <button class="btn" type="button" routerLink=""><i class="fa-solid fa-arrow-left"></i></button>
  <p class="text-center p-title fw-bold">THÊM BÀI ĐĂNG</p>
  <hr>
  <form [formGroup]="createPostDtoUnit" (ngSubmit)="savePost()">
    <div class="row mt-4 mx-3 mb-3">
      <div class="col-2"></div>
      <div class="col-2">
        <label for="customerCode" class="form-label"><i class="fa-regular fa-id-card"></i> Mã khách hàng(<span
          class="requirement-field">*</span>):</label>
      </div>
      <div class="col-3">
        <input readonly [value]="codeCustomer" class="form-control-plaintext" type="text" id="customerCode">
      </div>
    </div>
    <div class="row mt-4 mx-3 mb-3">
      <div class="col-2"></div>
      <div class="col-2">
        <label for="postName" class="form-label"><i class="fa-regular fa-id-card"></i> Tên bài đăng(<span
          class="requirement-field">*</span>):</label>
      </div>
      <div class="col-5">
        <input formControlName="namePost" class="form-control" type="text" id="postName">
        <div class="text-danger"
             *ngIf="createPostDtoUnit.controls['namePost'].invalid && (createPostDtoUnit.controls['namePost'].touched||createPostDtoUnit.controls['namePost'].dirty)">
          <div *ngIf="createPostDtoUnit.controls['namePost'].errors?.required">
            Tên bài đăng không được để trống.
          </div>
          <div *ngIf="createPostDtoUnit.controls['namePost'].errors?.pattern">
            Tên bài viết chứa các kí tự đặc biệt (chỉ cho phép chữ cái, chữ số , dấu cách và dấu /).
          </div>
          <div *ngIf="createPostDtoUnit.controls['namePost'].errors?.maxlength">
            Tên bài đăng không hợp lệ (Tối đa 50 kí tự và tối thiểu 10 kí tự).
          </div>
          <div *ngIf="createPostDtoUnit.controls['namePost'].errors?.minlength">
            Tên bài đăng không hợp lệ (Tối đa 50 kí tự và tối thiểu 10 kí tự).
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-3">
      <div class="col-2"></div>
      <div class="col-2">
        <label class="form-label"><i class="fa-brands fa-sellsy"></i> Nhu cầu(<span
          class="requirement-field">*</span>):</label>
      </div>
      <div *ngFor="let demand of demandTypeList" class="col-1">
        <div class="form-check">
          <input (change)="setPriceDescription(demand.idDemandType)" formControlName="idDemand"
                 class="form-check-input shadow" type="radio" name="idDemand" id="{{demand.nameDemandType}}"
                 value="{{demand.idDemandType}}">
          <label class="form-check-label" for="{{demand.nameDemandType}}">{{demand.nameDemandType}}</label>
        </div>
      </div>
    </div>
    <div class="row mx-3 mb-3">
      <div class="col-2"></div>
      <div class="col-2"></div>
      <div class="col-5">
        <div class="form-text"
             *ngIf="(createPostDtoUnit.controls['idDemand'].pristine && createPostDtoUnit.controls['idDemand'].untouched)">
          Vui lòng chọn nhu cầu.
        </div>
        <div class="text-danger"
             *ngIf="(createPostDtoUnit.controls['idDemand'].invalid && (createPostDtoUnit.controls['idDemand'].touched||createPostDtoUnit.controls['idDemand'].dirty) && createPostDtoUnit.controls['idDemand'].value == -1)">
          Vui lòng chọn loại bất động sản.
        </div>
      </div>
    </div>
    <div class="row mx-3">
      <div class="col-2"></div>
      <div class="col-2">
        <label class="form-label"><i class="fa-brands fa-sellsy"></i> Loại bất động sản(<span
          class="requirement-field">*</span>):</label>
      </div>
      <div *ngFor="let landType of landTypeList" class="col-1">
        <div class="form-check">
          <input formControlName="idLandType" class="form-check-input shadow" type="radio" name="idLandType"
                 id="{{landType.nameLandType}}" value="{{landType.idLandType}}">
          <label class="form-check-label" for="{{landType.nameLandType}}">{{landType.nameLandType}}</label>
        </div>
      </div>
    </div>
    <div class="row mx-3 mb-3">
      <div class="col-2"></div>
      <div class="col-2"></div>
      <div class="col-5">
        <div class="form-text"
             *ngIf="(createPostDtoUnit.controls['idLandType'].pristine && createPostDtoUnit.controls['idLandType'].untouched)">
          Vui lòng chọn loại bất động sản.
        </div>
        <div class="text-danger"
             *ngIf="(createPostDtoUnit.controls['idLandType'].invalid && (createPostDtoUnit.controls['idLandType'].touched||createPostDtoUnit.controls['idLandType'].dirty) && createPostDtoUnit.controls['idLandType'].value == -1)">
          Vui lòng chọn loại bất động sản.
        </div>
      </div>
    </div>
    <div class="row mx-3 mb-3">
      <div class="col-2"></div>
      <div class="col-2">
        <label for="numberAddress" class="form-label"><i class="fa-solid fa-address-book"></i> Địa chỉ(<span
          class="requirement-field">*</span>):</label>
      </div>
      <div class="col-4">
        <input formControlName="numberAddress" class="form-control" type="text" id="numberAddress" required>
        <div class="form-text">VD: 122B đường Trần Hưng Đạo.</div>
        <div class="text-danger"
             *ngIf="createPostDtoUnit.controls['numberAddress'].invalid && (createPostDtoUnit.controls['numberAddress'].touched||createPostDtoUnit.controls['numberAddress'].dirty)">
          <div *ngIf="createPostDtoUnit.controls['numberAddress'].errors?.required">
            Địa chỉ cụ thể không được để trống.
          </div>
          <div *ngIf="createPostDtoUnit.controls['numberAddress'].errors?.pattern">
            Địa chỉ cụ thể chứa các kí tự đặc biệt (chỉ cho phép chữ cái, chữ số , dấu cách và dấu /).
          </div>
          <div *ngIf="createPostDtoUnit.controls['numberAddress'].errors?.maxlength">
            Địa chỉ cụ thể không hợp lệ (Tối đa 50 kí tự và tối thiểu 5 kí tự).
          </div>
          <div *ngIf="createPostDtoUnit.controls['numberAddress'].errors?.minlength">
            Địa chỉ cụ thể không hợp lệ (Tối đa 50 kí tự và tối thiểu 5 kí tự).
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-3">
      <div class="col-2"></div>
      <div class="col-2">
        <label for="postDirection" class="form-label"><i class="fa-solid fa-location-dot"></i> Hướng bất động sản(<span
          class="requirement-field">*</span>):</label>
      </div>
      <div class="col-3">
        <select formControlName="idDirection" class="form-select" name="" id="postDirection">
          <option value="-1">-- Hướng nhà --</option>
          <option *ngFor="let item of directionList" [ngValue]="item.idDirection">{{item.nameDirection}}</option>
        </select>
      </div>
    </div>
    <div class="row mx-3 mb-3">
      <div class="col-2"></div>
      <div class="col-2"></div>
      <div class="col-5">
        <div class="form-text"
             *ngIf="(createPostDtoUnit.controls['idDirection'].pristine && createPostDtoUnit.controls['idDirection'].untouched)">
          Vui lòng chọn hướng bất động sản.
        </div>
        <div class="text-danger"
             *ngIf="createPostDtoUnit.controls['idDirection'].invalid && (createPostDtoUnit.controls['idDirection'].touched||createPostDtoUnit.controls['idDirection'].dirty)">
          <div
            *ngIf="createPostDtoUnit.controls['idDirection'].errors?.required || createPostDtoUnit.controls['idDirection'].errors?.min">
            Hướng bất động sản không được để trống.
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-3 mb-3">
      <div class="col-2"></div>
      <div class="col-2">
        <label for="postCity" class="form-label"><i class="fa-solid fa-location-dot"></i> Tỉnh/Thành phố(<span
          class="requirement-field">*</span>):</label>
      </div>
      <div class="col-3">
        <select #city class="form-select" (change)="getDistrictsListOnCity(city.value)" id="postCity">
          <option *ngFor="let item of cityList" [value]="item.idCity">{{item.nameCity}}</option>
        </select>
      </div>
    </div>
    <div class="row mx-3 mb-3">
      <div class="col-2"></div>
      <div class="col-2">
        <label for="postDistrict" class="form-label"><i class="fa-solid fa-location-dot"></i> Quận/Huyện(<span
          class="requirement-field">*</span>):</label>
      </div>
      <div class="col-2 me-5">
        <select #district class="form-select" id="postDistrict" (change)="getWardsListOnDistricts(district.value)">
          <option value="-1">--- Hãy chọn thành phố ---</option>
          <div *ngIf="districtsListOnCity.length == 0; else districtOption">
          </div>
          <ng-template #districtOption>
            <option *ngFor="let item of districtsListOnCity" [value]="item.idDistrict">{{item.nameDistrict}}</option>
          </ng-template>
        </select>
      </div>
      <div class="col-2 border-start pe-0">
        <label for="postWards" class="form-label"><i class="fa-solid fa-location-dot"></i> Phường/Xã(<span
          class="requirement-field">*</span>):</label>
      </div>
      <div class="col-3 p-0">
        <select formControlName="idWards" class="form-select" id="postWards">
          <option *ngFor="let item of wardsListOnDistrict" [value]="item.idWards">{{item.nameWards}}</option>
        </select>
      </div>
    </div>
    <div class="row mx-3 mb-3">
      <div class="col-2"></div>
      <div class="col-2"></div>
      <div class="col-5">
        <div class="form-text"
             *ngIf="(createPostDtoUnit.controls['idWards'].pristine && createPostDtoUnit.controls['idWards'].untouched)">
          Vui lòng chọn đầy đủ tỉnh/thành phố, quận/huyện,phường/xã.
        </div>
        <div class="text-danger"
             *ngIf="createPostDtoUnit.controls['idWards'].invalid && (createPostDtoUnit.controls['idWards'].touched||createPostDtoUnit.controls['idWards'].dirty)">
          <div
            *ngIf="createPostDtoUnit.controls['idWards'].errors?.required || createPostDtoUnit.controls['idWards'].errors?.min">
            Vui lòng chọn đầy đủ tỉnh/thành phố, quận/huyện,phường/xã.
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-3 mb-3">
      <div class="col-2"></div>
      <div class="col-2">
        <label for="postPrice" class="form-label"><i class="fa-solid fa-chart-area"></i> Giá(<span
          class="requirement-field">*</span>):</label>
      </div>
      <div class="col-4">
        <div class="input-group flex-nowrap">
          <input formControlName="price" type="tel" id="postPrice" class="form-control">
          <div *ngIf="priceType==3; else priceDescriptionSwitch">
            <span class="input-group-text">VND/Tháng</span>
          </div>
          <ng-template #priceDescriptionSwitch>
            <span class="input-group-text rounded-end">VND</span>
          </ng-template>
        </div>
        <div class="form-text">Đơn vị VND/m<sup>2</sup> hoặc VND/Tháng sẽ thay đổi theo nhu cầu</div>
        <div class="text-danger"
             *ngIf="createPostDtoUnit.controls['price'].invalid && (createPostDtoUnit.controls['price'].touched||createPostDtoUnit.controls['price'].dirty)">
          <div *ngIf="createPostDtoUnit.controls['price'].errors?.required">
            Giá tiền không được để trống.
          </div>
          <div *ngIf="createPostDtoUnit.controls['price'].errors?.pattern">
            Giá tiền sai định dạng (chứa kí tự).
          </div>
          <div *ngIf="createPostDtoUnit.controls['price'].errors?.max">
            Giá tiền không được hỗ trợ (phải bé hơn 100 tỷ và lớn hơn 1 triệu).
          </div>
          <div *ngIf="createPostDtoUnit.controls['price'].errors?.min">
            Giá tiền không được hỗ trợ (phải bé hơn 100 tỷ và lớn hơn 1 triệu).
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-3 mb-3">
      <div class="col-2"></div>
      <div class="col-2">
        <label for="postArea" class="form-label"><i class="fa-solid fa-chart-area"></i> Diện tích(<span
          class="requirement-field">*</span>):</label>
      </div>
      <div class="col-4">
        <div class="input-group flex-nowrap">
          <input formControlName="area" type="tel" id="postArea" class="form-control">
          <span class="input-group-text rounded-end">m<sup>2</sup></span>
        </div>
        <div class="text-danger"
             *ngIf="createPostDtoUnit.controls['area'].invalid && (createPostDtoUnit.controls['area'].touched||createPostDtoUnit.controls['area'].dirty)">
          <div *ngIf="createPostDtoUnit.controls['area'].errors?.required">
            Diện tích không được để trống.
          </div>
          <div *ngIf="createPostDtoUnit.controls['area'].errors?.pattern">
            Diện tích không hợp lệ (chứa kí tự).
          </div>
          <div *ngIf="createPostDtoUnit.controls['area'].errors?.max">
            Diện tích không được hỗ trợ (phải bé hơn 10000m2 và lớn hơn 1m2).
          </div>
          <div *ngIf="createPostDtoUnit.controls['area'].errors?.min">
            Diện tích không được hỗ trợ (phải bé hơn 10000m2 và lớn hơn 1m2).
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-3">
      <div class="col-2"></div>
      <div class="col-2">
        <label class="form-label"><i class="fa-regular fa-image"></i> Ảnh minh hoạ:</label>
      </div>
      <div class="col-8">
        <label for="addImage" class="form-label btn btn-outline-success">Chọn ảnh minh hoạ</label>
        <span id="fileChosen"><p *ngFor="let name of nameImageList">{{name}}</p></span>
        <input type="file" (change)="showFilesName($event)" id="addImage" multiple accept="image/*" hidden/>
      </div>
    </div>
    <div class="row mx-3 mb-3">
      <div class="col-2"></div>
      <div class="col-2"></div>
      <div class="col-5">
        <div class="form-text" *ngIf="submitTimes<=0 && !isOverSizeImage && !isNotImage">
          Vui lòng thêm ảnh.
        </div>
        <div class="text-danger" *ngIf="(submitTimes>0 && (imageList.length == 0||nameImageList.length == 0))">
          Vui lòng thêm ảnh.
        </div>
        <div class="text-danger" *ngIf="(isNotImage)">
          File không hợp lệ, vui lòng chỉ chọn file ảnh.
        </div>
        <div class="text-danger" *ngIf="(isOverSizeImage)">
          File ảnh không được quá kích thước 5MB.
        </div>
      </div>
    </div>
    <div class="row mx-3 mb-4">
      <div class="col-2"></div>
      <div class="col-2">
        <label for="notePost" class="form-label"><i class="fa-regular fa-note-sticky"></i> Mô tả chi tiết:</label>
      </div>
      <div class="col-6"><textarea formControlName="note" class="form-control" id="notePost" cols="30"
                                   rows="3"></textarea>
        <div class="text-danger"
             *ngIf="createPostDtoUnit.controls['note'].invalid && (createPostDtoUnit.controls['note'].touched||createPostDtoUnit.controls['note'].dirty)">
          <div *ngIf="createPostDtoUnit.controls['note'].errors?.pattern">
            Mô tả chi tiết chứa các kí tự đặc biệt (chỉ cho phép chữ cái, chữ số , dấu cách và dấu /).
          </div>
          <div *ngIf="createPostDtoUnit.controls['note'].errors?.maxlength">
            Mô tả chi tiết không hợp lệ (Tối đa 255 kí tự).
          </div>
        </div>
      </div>
    </div>
    <div class="row mx-3 mb-4">
      <div class="col-2"></div>
      <div class="col-2"><p class="text-danger" *ngIf="messageFormServer.length != 0">Lỗi hệ thống: </p></div>
      <div class="col-6">
        <p class="text-danger" *ngIf="messageFormServer.length != 0">{{messageFormServer}}</p>
      </div>
    </div>
    <div class="row mx-3 mb-3">
      <div class="col-5"></div>
      <div class="col-4 p-0">
        <button *ngIf="!isWaitingResponse" type="button" class="btn btn-primary me-3" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
          Xác nhận
        </button>
        <button *ngIf="isWaitingResponse" class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Vui lòng chờ
        </button>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">XÁC NHẬN ĐĂNG BÀI</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="text-primary">Bài đăng của bạn sẽ được gửi cho nhân viên quản lý.</p>
                <p class="text-danger">Chúng tôi sẽ liên hệ với bạn để xác nhận thông tin trong vòng 1-2 ngày kể từ khi
                  bài đăng được gửi.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Xác nhận</button>
              </div>
            </div>
          </div>
        </div>
        <button *ngIf="!isWaitingResponse" type="button" (click)="resetCreatePostDtoUnit()" class="btn btn-light">Nhập
          lại
        </button>
      </div>
    </div>
    <div class="row mx-3 mb-4">
      <div class="col-2"></div>
      <div class="col-2"></div>
      <div class="col-6">
      </div>
    </div>
  </form>
</div>

