<footer class="container-fluid d-flex justify-content-center">
  <div class="col-1"></div>
  <div class="col-10 container-fluid row my-2">
    <div class="col-3">
      <div class="my-3" style="width: 230px">
        <a href="">
          <img src="../../../assets/image/logoSang.png" height="114"
               width="308"/>
        </a>
      </div>
      <div>
        <h6>CÔNG TY CỔ PHẦN C0722G1 VIỆT NAM</h6>
      </div>
      <div>
        <h6>
          <i class="fa-solid fa-location-dot"></i>
          <span>280, Trần Hưng Đạo, An Hải Tây, Sơn Trà, Đà Nẵng</span>
        </h6>
      </div>
      <div>
        <i class="fa-solid fa-phone"></i>
        <span>(024) 3562 5939 - (024) 3562 5940</span>
      </div>
    </div>
    <div class="col-9 d-flex align-items-center">
      <div class="col-4">
        <div class="text-start">
          <h6>
            <i class="fa-solid fa-phone"></i>
            <span>Hotline</span>
          </h6>
          <p>19001881</p>
        </div>
      </div>
      <div class="col-4">
        <div class="text-start">
          <h6>
            <i class="fa-solid fa-handshake-angle"></i>
            <span>Hỗ trợ</span>
          </h6>
          <p>hotro@batdongsan.com.vn</p>
        </div>
      </div>
      <div class="col-4">
        <div class="text-start">
          <h6>
            <i class="fa-solid fa-headset"></i>
            <span>Chăm sóc khách hàng</span>
          </h6>
          <p>chamsockhachhang@batdongsan.com.vn</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</footer>
