body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

footer {
  background-color: #f2f2f2;
}

.searchArea {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 15px
}

.card-title {
  display: -webkit-box;
  max-height: 3.2rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  line-height: 1.6rem;
}

p {
  line-height: 1;
}
