<!-- Modal delete -->
<form [formGroup]="deleteForm" (ngSubmit)="deleteEmployee()">
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Xác nhận xóa.</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 >Bạn có muốn xóa nhân viên <span style="color: red">{{employee.nameEmployee}}</span> không ?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
          <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
</form>

