<!--Modal Duyệt-->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmModalLabel">Duyệt khách hàng</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span>Bạn có chắc muốn duyệt khách hàng: </span>
        <span>{{customerApproval.name_customer}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="approvalCustomer()" class="btn btn-primary" data-bs-dismiss="modal">Duyệt</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
