<div class="container-fluid">
  <div class="row m-0">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10" style="margin-left: 2rem">
          <div class="boxed shadow h-200 mt-5 ">
            <fieldset>
              <legend>
                <div>
                  <div style="margin-top: 15px">
                    <a routerLink="/customer" type="button"><i class="fa-solid fa-arrow-left"></i></a>
                    <span id="title" style="font-size: 35px; margin-left: 120px">CHỈNH SỬA THÔNG TIN</span>
                  </div>
                </div>
              </legend>
            </fieldset>
            <ng-template #notFoundData>
              <p class="text-center mt-3" style="font-size: 20px">Không có dữ liệu để chỉnh sửa!</p>
            </ng-template>
            <form [formGroup]="editForm" (ngSubmit)="updateCustomer()" *ngIf="checkError else notFoundData" novalidate>
              <div class="mt-5">
                <div class="mb-2 row">
                  <div class="d-flex align-items-center mb-2">
                    <div class="col-4 m-10">
                      <input hidden type="text" class="form-control" formControlName="idCustomer"/>
                      <label for="codeCustomer" class="form-label ms-2">Mã người dùng:</label>
                    </div>
                    <div class="col-8">
                      <p style="height: 40px" id="codeCustomer" type="text" class="form-control"
                         readonly> {{customer.codeCustomer}}

                      </p>
                    </div>
                  </div>
                </div>
                <div class="mb-2 row">
                  <div class="d-flex align-items-center mb-2">
                    <div class="col-4">
                      <label for="nameCustomer" class="form-label ms-2">Họ và tên <span
                        style="color: red">(*)</span>:</label>
                    </div>
                    <div class="col-8">
                      <input id="nameCustomer" type="text" class="form-control" formControlName="nameCustomer"
                             required/>
                      <div class="text-danger"
                           *ngIf="editForm.controls.nameCustomer.invalid && editForm.controls.nameCustomer.touched else elseBlock">
                        <span
                          *ngIf="editForm.controls.nameCustomer.hasError('required') ">Tên không được để trống.</span>
                        <span
                          *ngIf="editForm.controls.nameCustomer.hasError('pattern')">Tên chưa đúng định dạng. Ví dụ: Nguyễn Hồng Nhi</span>
                        <span
                          *ngIf="editForm.controls.nameCustomer.hasError('minlength')">Tên phải nhiều hơn 5 kí tự.</span>
                        <span
                          *ngIf="editForm.controls.nameCustomer.hasError('maxlength')">Tên phải ít hơn 50 kí tự.</span>
                      </div>
                      <ng-template #elseBlock><br></ng-template>
                    </div>
                  </div>
                </div>
                <div class="mb-2 row">
                  <div class="d-flex align-items-center mb-2">
                    <div class="col-4">
                      <label for="phone1" class="form-label ms-2">Số điện thoại 1 <span
                        style="color: red">(*)</span>:</label>
                    </div>
                    <div class="col-8">
                      <input id="phone1" type="text" class="form-control" formControlName="phoneCustomer1" required/>
                      <div class="text-danger"
                           *ngIf="editForm.controls.phoneCustomer1.invalid && editForm.controls.phoneCustomer1.touched else elseBlock">
                        <span
                          *ngIf="editForm.controls.phoneCustomer1.hasError('required')">Số điện thoại không được trống.</span>
                        <span
                          *ngIf="editForm.controls.phoneCustomer1.hasError('pattern')">Số điện thoại bắt đầu bằng +84/03/09/08/07XXXXXXXX.</span>
                      </div>
                      <ng-template #elseBlock></ng-template>
                    </div>
                  </div>
                </div>
                <div class="mb-2 row">
                  <div class="d-flex align-items-center mb-2">
                    <div class="col-4">
                      <label for="phone2" class="form-label ms-2">DSố điện thoại 2: </label>
                    </div>
                    <div class="col-8">
                      <input id="phone2" type="text" class="form-control" formControlName="phoneCustomer2"/>
                      <div class="text-danger"
                           *ngIf="editForm.controls.phoneCustomer2.invalid else elseBlock">
                        <span
                          *ngIf="editForm.controls.phoneCustomer2.hasError('pattern')">Số điện thoại bắt đầu bằng +84/03/09/08/07XXXXXXXX. </span>
                      </div>
                      <ng-template #elseBlock></ng-template>
                    </div>
                  </div>
                </div>
                <div class="mb-2 row">
                  <div class="d-flex align-items-center mb-2">
                    <div class="col-4">
                      <label for="idCardCustomer" class="form-label ms-2">Số CCCD <span
                        style="color: red">(*)</span>:</label>
                    </div>
                    <div class="col-8">
                      <input id="idCardCustomer" type="text" class="form-control" formControlName="idCardCustomer"
                             required placeholder="CCCD gồm 9 chữ số"/>
                      <div class="text-danger"
                           *ngIf="editForm.controls.idCardCustomer.invalid else elseBlock">
                      <span
                        *ngIf="editForm.controls.idCardCustomer.hasError('required') && editForm.controls.idCardCustomer.touched">CCCD không được để trống.</span>
                        <span
                          *ngIf="editForm.controls.idCardCustomer.hasError('pattern')">CCCD gồm 12 số.</span>
                      </div>
                      <ng-template #elseBlock><br></ng-template>
                    </div>
                  </div>
                </div>
                <div class="mb-2 row">
                  <div class="d-flex align-items-center mb-2">
                    <div class="col-4">
                      <label for="emailCustomer" class="form-label ms-2">Email <span
                        style="color: red">(*)</span>:</label>
                    </div>
                    <div class="col-8">
                      <input id="emailCustomer" type="text" class="form-control" required
                             formControlName="emailCustomer"/>
                      <div class="text-danger"
                           *ngIf="editForm.controls.emailCustomer.invalid && editForm.controls.emailCustomer.touched else elseBlock">
                    <span
                      *ngIf="editForm.controls.emailCustomer.hasError('required') && editForm.controls.emailCustomer.touched">Email không được để trống.</span>
                        <span
                          *ngIf="editForm.controls.emailCustomer.hasError('email')">Email chưa đúng định dạng. Ví dụ: van21@gmail.com</span>
                      </div>
                      <ng-template #elseBlock><br></ng-template>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="mb-2 row">
                    <div class="d-flex align-items-center mb-2">
                      <div class="col-4">
                        <label class="form-label ms-2">Giới tính <span
                          style="color: red">(*)</span>:</label>
                      </div>
                      <div class="col-8">
                        <label class="form-check-label" for="nam">Nam</label>
                        <input class="form-check-input" type="radio" name="genderCustomer" id="nam"
                               formControlName="genderCustomer" required [value]="0" style="margin-left: 5px">
                        <label class="form-check-label" for="nu" style="margin-left: 30px">Nữ</label>
                        <input class="form-check-input" type="radio" name="genderCustomer" id="nu"
                               formControlName="genderCustomer" [value]="1" style="margin-left: 5px">
                        <span style="color: red"
                              *ngIf="editForm.controls.genderCustomer.hasError('required') && editForm.controls.genderCustomer.touched">Giới tính không được để trống.</span>
                      </div>
                    </div>
                  </div>
                  <div class="mb-2 row">
                    <div class="d-flex align-items-center mb-2">
                      <div class="col-4">
                        <label for="dateOfBirth" class="form-label ms-2">Ngày sinh <span
                          style="color: red">(*)</span>:</label>
                      </div>
                      <div class="col-8">
                        <input id="dateOfBirth" type="date" class="form-control" formControlName="dateOfBirth"
                               required/><br>
                        <span style="color: red"
                              *ngIf="editForm.controls.dateOfBirth.hasError('required') && editForm.controls.dateOfBirth.touched">Ngày sinh không được để trống.</span>
                        <span style="color: red" *ngIf="editForm.hasError('checkBirthDay')">Tuổi phải nằm trong khoảng 18 đến 100.</span>
                      </div>
                    </div>
                  </div>
                  <div class="mb-2 row">
                    <div class="d-flex align-items-center mb-2">
                      <div class="col-4">
                        <label for="addressCustomer" class="form-label ms-2">Địa chỉ <span
                          style="color: red">(*)</span>:</label>
                      </div>
                      <div class="col-8">
                        <input id="addressCustomer" type="text" class="form-control" formControlName="addressCustomer"
                               required/>
                        <div class="text-danger"
                             *ngIf="editForm.controls.addressCustomer.invalid && editForm.controls.addressCustomer.touched else elseBlock">
                        <span style="color: red"
                              *ngIf="editForm.controls.addressCustomer.hasError('required') && editForm.controls.addressCustomer.touched">Địa chỉ không được để trống.</span>
                          <span style="color: red"
                                *ngIf="editForm.controls.addressCustomer.hasError('maxlength') && editForm.controls.addressCustomer.touched">Địa chỉ không được quá 255 kí tự.</span>
                        </div>
                        <ng-template #elseBlock><br></ng-template>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center" style="margin-bottom: 15px">
                    <button routerLink="/customer" type="button" class="btn btn-secondary">Thoát</button>
                    <input style="margin-left: 15px" type="submit" class="btn btn-primary"
                           [disabled]="editForm.invalid"
                           value="Lưu thông tin">
                  </div>
                </div>
              </div>
              <div class="mb-2">
              <span style="font-size: 15px" class="fst-italic">
              Trường có dấu <span style="color: red"> (*)</span> là bắt
              buộc,không được bỏ trống
            </span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>
